.image-holder:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(34,34,34,0.7038165608040091) 14%, rgba(0,212,255,0) 100%);
    border-radius: 20px;
    cursor: pointer;
}

.image-title {
    text-align: center;
    color: white;
    font-family: var(--pri-font);
    font-size: 30px;
    position: relative;
    top: 350px;
}

.image-outline {
    border: 6px solid #F9A51A;
}