.booking {
    background-color: rgb(245, 236, 236);
    width: 500px;
    padding: 20px;
    border-radius: 5px;
}

.form-field {
    margin-bottom: 10px;
}


.calender-icon {
    width: 9%;
}

.booking-btn{
    background-color: #F9A51A;
    border: none !important;
    border-radius: 5px;
    padding: 10px 0px !important; 
    margin-top: 10px;
    transition: all linear 0.4s;
    width: 100%;
}
    
.booking-btn:hover {
    color: white !important;

}