@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;300;400;500;600&display=swap');

* {
  margin: 0;
}

:root {
  --pri-color: #F9A51A;
  --sec-color: #273c75;
  --pri-font: 'Bebas Neue', cursive;
  --sec-font: 'Montserrat', sans-serif;
}